header {
  position: relative;
  margin: 180px 120px 180px 120px;
  height: 400px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  background-color:thistle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
}

header h2 {
  color: darkviolet;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  header {
    margin: 120px 0px 0px 0px;
  }
}
